LAB Assignment no 1 Part 3

43139 OJAS TELWANE IT BE-09

Assignment 1 Python (Part 3 of first assignment)

In [1]:
#Insert the missing part of the code below to output "Hello World".
#______("Hello World")

# answer
print("Hello World")

Hello World

In [2]:
""" find the mistake of programme
if 5 > 2:
print
(
"Five is greater than two!"
)"""

# answer

if (5>2):
    print("Five is greater than two!")

Five is greater than two!

In [3]:
""" #Comments in Python are written with a special character, which one?
___This is a comment"""

# answer

# ___This is a comment
""" ___This is a comment """

' ___This is a comment '

In [4]:
""" #Use a multiline string to make the a multi line comment:
___This is a comment
written in
more that just one line___"""

# answer 

"""___This is a comment
written in
more that just one line___"""

'___This is a comment\nwritten in\nmore that just one line___'

In [5]:
#Create a variable named car and assign the value Volvo to it.

# answer

car = "Volvo"
print(car)

Volvo

In [6]:
#Create a variable named x and assign the value 50 to it.

# answer

x=50
print(x)

50

In [7]:
#Display the sum of 5 + 10, using two variables: x and y.

# answer

x=5
y=10
print(x+y)

a, b =5, 10
print(a+b)

15
15

In [8]:
#Create a variable called z, assign x + y to it, and display the result.

# answer

x, y = 17, 19
z=x+y
print(z)

36

In [9]:
#Remove the illegal characters in the variable name:
# 2my-first_name="John"

# answer

my_first_name="John"
print(my_first_name)

John

In [10]:
#Insert the correct syntax to assign the same value to all three variables in one codeline.
#x __ y __ z _ "Orange"

# answer
x=y=z="Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [11]:
"""
Question : Given a two integer numbers return their product and if the product is greater than 1000,
 then return their sum
Given:
number1 = 20
number2 = 30
Expected Output:
The result is 600
Given:
number1 = 40
number2 = 30
Expected Output:
The result is 70 """

# answer
number1, number2=20, 30
if(number1*number2>1000):
    print("The result for question 1 is :", number1+number2)
else:
    print("The result question 1 is :",number1*number2)
    
number1, number2=40, 30
if(number1*number2>1000):
    print("The result question 2 is :",number1+number2)
else:
    print("The result question 2  is :",number1*number2)

The result question 1 is : 600
The result question 2 is : 70

In [12]:
""" Question : Reverse the following tuple
aTuple = (10, 20, 30, 40, 50)
Expected output:
(50, 40, 30, 20, 10)"""

# answer

aTuple = (10, 20, 30, 40, 50)
print(aTuple)

new_tuple = tuple(sorted(aTuple, reverse=True))
print(new_tuple)

(10, 20, 30, 40, 50)
(50, 40, 30, 20, 10)

In [13]:
# Method two
aTuple = (10, 20, 30, 40, 50)
print(aTuple)
aTuple=aTuple[::-1]
print(aTuple)

(10, 20, 30, 40, 50)
(50, 40, 30, 20, 10)

In [14]:
#Question : Access value 20 from the following tuple
#aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
#Expected output:

# answer

aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
print(aTuple[1][1])

20

In [15]:
# Question : Given 2 strings, s1, and s2 return a new string made of the first, middleand last char each input string
#Given:
#s1 = "America"
#s2 = "Japan"
#Expected Output:
#AJrpan

# answer

s1 = "America"
s2 = "Japan"
print(s1[0]+s2[0]+s1[len(s1) // 2]+s2[len(s2) //2]+s1[-1]+s2[-1])

AJrpan

In [16]:
# Question : Given a Python list you should be able to display Python list in the following order
#aLsit = [100, 200, 300, 400, 500]
#Expected output:
#[500, 400, 300, 200, 100]

# answer

aLsit = [100, 200, 300, 400, 500]
print(aLsit[::-1])

[500, 400, 300, 200, 100]

In [17]:
#Question: Concatenate two lists index-wise
#list1 = ["M", "na", "i", "Ke"]
#list2 = ["y", "me", "s", "lly"]
#Expected output:
#['My', 'name', 'is', 'Kelly']

# answer

list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
result = []
for i in range(len(list1)):
    result.append(list1[i]+list2[i])

print(result)

['My', 'name', 'is', 'Kelly']

In [18]:
#Question: Given a two Python list. Iterate both lists simultaneously such that list1 should display item
# in original order and list2 in reverse order
#list1 = [10, 20, 30, 40]
#list2 = [100, 200, 300, 400]
#Expected output:
# 10 400
# 20 300
# 30 200
# 40 100

# answer

list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

print([(i, j) for i, j in zip(list1, list2[::-1])])

[(10, 400), (20, 300), (30, 200), (40, 100)]

In [19]:
#Question : Remove empty strings from the list of strings
# list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
# Expected output:
# ["Mike", "Emma", "Kelly", "Brad"]

# answer

list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
list1 = list(filter(None, list1))
print(list1)

['Mike', 'Emma', 'Kelly', 'Brad']

In [20]:
#Write a Python program to display output in given format
"""
Twinkle, twinkle, little star,
        How I wonder what you are! 
                Up above the world so high, 
                Like a diamond in the sky. 
Twinkle, twinkle, little star, 
        How I wonder what you are!"""

# answer

print("Twinkle, twinkle, little star,")
print("\tHow I wonder what you are!")
print("\t\tUp above the world so high,")
print("\t\tLike a diamond in the sky.")
print("Twinkle, twinkle, little star,")
print("\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [21]:
#Write a Python program to display the first and last colors from the following list.
color_list = ["Red","Green","White" ,"Black"]

# answer

print(color_list[0], color_list[-1])

Red Black